*{padding: 0; margin: 0;}

header {
    background: #120b94;
    background: linear-gradient(0deg, rgba(18,11,148,1) 0%, rgba(17,17,162,1) 100%);
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.logocedh {
    height:100px;
    width:auto;
}

.logo {
    background-color:white;
    padding:10px;
    border-radius:0px 0px 15px 15px;
    height:100px;
}

.secciones {
    display:flex;
    align-items:center;
    gap:20px;
}

a {
    color:inherit;
    text-decoration:none;
}

a:hover{
    color: rgb(255, 230, 117);
    text-decoration:underline;
}

.enlaces-top {
    color:whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    list-style: none;
    display:flex;
    flex-direction:row;
    padding:5px;
    gap:15px;
}

.search-wrapper{
    height: 30px;
    gap:5px;
    display:flex;
    align-items:stretch;
    border: 1px solid rgba(0, 0, 0, 0.276);
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273);
}

.search-icon{
    color:rgba(0, 0, 0, 0.564);
    align-self:center;
    padding:5px 7px 5px 10px;
}

#search-section {
    border:0;
    width: 150px;
}

#search-section:focus {
    outline:none;
}

#search-button {
    border:none;
    cursor:pointer;
    background-color:rgb(192, 193, 248);
    padding:5px 10px;
}

#section-noticias {
    height: 400px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap: 10px;
    background-color:whitesmoke;
    padding:60px 0;
}

.fondo-logo {
    height: 200px;
    align-self:center;
    opacity:0.5;
}

.texto-noticias{
    width: 600px;
    padding:30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

h1 {
    font-size:60px;
    margin: 15px 0;
}

h1 span{
    color: rgb(161, 141, 90);
    letter-spacing:10px;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    color: #14421e;
}

.texto-noticias p {
    color: #696969;
    font-family:Arial, Helvetica, sans-serif;
}

.imagen-noticias {
    display:flex;
    align-items:center;
}

.texto-noticias hr {
    border-bottom:2px solid #14421e;
}

#ver-mas{
  background-color: #d4702d;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  vertical-align: baseline;
  width: 130px;
}

#ver-mas:hover{
  background-color: #1b1b1b;
  color: white;
}

.informe2023 {
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow:  20px 20px 49px #d0d0d0,-20px -20px 49px #f0f0f0;
}

.button-before {
    background-color:#1b1b1b;
    border-radius: 15px;
    height: 60px;
    width:40px;
    align-self:center;
    margin-right: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.button-before:hover{
    background-color: #696969;
}

.button-next {
    background-color:#1b1b1b;
    border-radius: 15px;
    height: 60px;
    width:40px;
    align-self:center;
    margin-left: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.button-next:hover{
    background-color: #696969;
}

.fa-chevron-left {
    color: #d0d0d0;
    padding:15px;
}

.fa-chevron-right {
    color: #d0d0d0;
    padding:15px;
}

#enlaces-internos {
    padding:40px 0;
    background: #181370;
    background: linear-gradient(0deg, rgb(17, 12, 105) 0%, rgb(14, 14, 88)100%);
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:30px;
}

.interno {
    display:flex;
    flex-direction:column;
    gap:5px;
    align-items:center;
    flex-shrink:0;

    text-align: center;
    padding: 25px;
    width:200px;
    height:auto;
    background-color: #ebebeb;
    border-radius: 20px;
    cursor:pointer;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.normativa-interna:hover{
    background-color:rgb(247, 236, 141);
}

.programa-igualdad:hover{
    background-color:#a2c7f7;
}

.mem-sinaloa:hover{
    background-color:rgb(160, 219, 160);
}

.desplazamiento:hover{
    background-color:rgb(112, 133, 226);
}

.interno img {
    height: 130px;
    width:auto;
}

.interno h3 {
    font-family:"Oswald", sans-serif;
    font-size:20px;
    line-height:1.2;
}

.interno p {
    font-family:Arial, Helvetica, sans-serif;
}

.interno a {
    color:#181370;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.mem-sinaloa p {
    font-size:15px;
}

.desplazamiento p {
    font-size:13px;
}

#quejas-recibidas {
    padding:40px 0;
    background-color:whitesmoke;

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
}

#quejas-recibidas .quejas-img {
    width:300px;
}

#quejas-recibidas h4 {
    font-family:"Oswald", sans-serif;
    font-size:23px;
    color:#252525;
}

.total-quejas p {
    font-family:"Oswald", sans-serif;
    color:#3b3b3b;
    letter-spacing:2px;
}

.total-quejas .cantidad {
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    font-weight:700;
    color: rgb(161, 141, 90);
}

.total-quejas {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.grupo-quejas {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}

.grupo-quejas2 {
    display:flex;
    flex-direction:row;
}

.quejas {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.grupo-quejas2 .cantidad {
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    font-weight:700;
    color:#252525;
}

.grupo-quejas2 p{
    font-family:"Oswald", sans-serif;
    color:#3b3b3b;
}

.frase-texto {
    background: #181370;
    background: linear-gradient(0deg, rgb(17, 12, 105) 0%, rgb(14, 14, 88)100%);
    padding:50px 0;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:30px;
}

.logo-blanco {
    height:150px;
    width:auto;
}

.seccion-texto {
    padding: 0 0 10px 0;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    border-bottom:3px solid #d0d0d0;
}

.seccion-texto h5 {
    color:whitesmoke;
    font-family: "Playfair Display", serif;
    font-size:40px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.77);
}

.seccion-texto span {
    color:rgb(255, 235, 124);
    letter-spacing: 2px;
}
